$main: #040109;
$main2: #080213;
$main3: #15052f;
$white: #fff3f1;
$gold: #ffac22;
$blue: #10bbff;
$purple: #8008cb;
$pink: #fc1196;

@media screen and (max-width: 1600px){
	#introdifie{
		grid-template: 
		"tools"
		"tools"
		"tools"
		"tools"
		"picture" 1fr /
		1fr;

		width: 85%;
		}

	.gallery-new{
		grid-template-columns: repeat(3,1fr);
	}

	.gallery-cs{
		grid-template-columns: 1fr;
	}

	.gallery-emoji{
		grid-template-columns: 1fr;
	}

	.illu-auto-calc{
		grid-template-columns: repeat(2,1fr);
	}

	
	.illu-auto-calc > *:nth-child(n):nth-last-child(-n + 1){
		grid-column: span 2;
	}

	.pricing{
			display: grid;
			grid-template:
			"title title title"
			"a b x"
			"c d y"
			"e f z"
			"legend legend legend" 1fr
			/ 1fr 0.2fr 0.3fr !important;

		.split-org{
			justify-items: unset !important;
			gap: 10px;
			grid-template-columns: 0.1fr 0.9fr !important;
		}
	}
}

@media screen and (max-width: 1300px){
	.main{
		width: 85%;
	}

	.main-move{
		left: 78.5%;
	}

	.difiebar{
		width: 30%;
	}

	.smolbutton-move{
		left:32.3%;

	}
}

@media screen and (max-width: 1200px){
	.main{
		width: 85%;
	}

	.main-move{
		left: 100.8%;
	}

	.difiebar{
		width: 50%;
	}

	.smolbutton-move{
		left:52.2%;

	}
}

@media screen and (max-width: 710px){
	.main{
		width: 85%;
	}

	.main-move{
		left: 117%;
	}

	.difiebar{
		width: 65%;
	}

	.smolbutton-move{
		left:67%;

	}

	#introdifie .pfp-batch{
		height: unset;
		justify-content: center;
	}

	#introdifie .pfp-batch img{
		position: unset;
	}

	#introdifie .pfp-batch .main-pfp{
		transform: translate(50%);
	}

	#introdifie .pfp-batch .second{
		margin-top: unset;
		transform: translateY(100%) translateX(30%);

	}

	#introdifie .pfp-batch .third{
		transform: translateX(-270%);
	}

}


@media screen and (max-width: 590px){
	.main{
		left:53%;
		width: 90%;
	}

	.main-move{
		left: 117%;
	}

	.difiebar{
		width: 65%;
	}

	.smolbutton-move{
		left:67%;

	}

	.smolbutton{
		width: 2.6rem;
	}

	.illu-auto-calc{
		grid-template-columns: 1fr !important;
	}

	.illu-auto-calc > *:nth-child(n):nth-last-child(-n + 1){
		grid-column: span 1;
	}

	table{
		width: 100%;
		font-size: 15px;
	}

	.table-smol{
		width: 90%;
	}
	
	*{
		font-size: 15px;
	}
}