// Stylish Style~
// Made by Difer

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/*PC*/
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth; 
}


* {
  scrollbar-width: auto; 
  scrollbar-color: #f516d5 #040109;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #040109;
}

*::-webkit-scrollbar-thumb {
  background-color: #f516d5;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

//Colors

$main: #040109;
$main2: #080213;
$main3: #15052f;
$white: #fff3f1;
$gold: #ffa600;
$blue: #10bbff;
$purple: #a413ff;
$pink: #ff39fd;
$green: #18ff20;

//

html, body{
	width: 100%;
	height: 100%;

	background-color: $main;
}

html{
	overflow: hidden;
}

body{
	background: $main;

	margin: 0;
}

hr{
	color: transparent;
	width: 85%;
	border-bottom: 2px $pink solid;
}

.nomarginbt{
	margin-bottom: 0;
	margin-top: 0;
}

section section{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

//Sidebar

.difiebar{

	position: absolute;


	width: 25%;
	margin: 2%;
	height: 90%;

	left: -1%;

	background-color: $main;

	transition: left 0.3s;

	.difiebarcontent{opacity: 1; transition: opacity 0.2s;}

	a{
		all:unset;
	}
}

.hide-difiebar{

	left: -50%;

	transition: left 0.3s;

	.difiebarcontent{opacity: 0; transition: opacity 0.2s;}
}


//Side Logo

.sidelogodifer{
	width: 60%;
	transition: transform 0.2s;
	margin-bottom: 2%;
}

.sidelogodifer:hover{
	transform: rotate(2deg);
	transition: transform 0.2s;
	cursor: pointer;
}

//Side Contents

.difiebarcontent{
	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr;

	border-bottom: 2px $pink solid;
}


.dheader{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border-bottom: 2px $pink solid;
}

.dcontent{
	color: $white;

	display: flex;
	justify-content: left;

	ul{list-style-type: none;}

	overflow-y: scroll;

}

.actdrop{
	cursor: pointer;
	font-weight: 300;
}

.drop{

	user-select: none;
	font-size: 20px;
	padding: 0.7rem;
	padding-top: 1rem;
	width: 100%;
	border-left: 2px transparent solid;

	transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s;

	div{
		font-size: 20px;
		display: flex;
		flex-direction: column; 
		opacity: 0;
		padding-top: 0rem;

		visibility: hidden;
		height: 0;

		transition: opacity 0.2s, height 0.7s, padding-top 0.2s, visibility 0.2s, margin-top 0.2s, margin-bottom 0.2s;

		span{width: 100%; margin: 3px; visibility: hidden; padding-right: 3px; border-right: 2px transparent solid;  transition: font-size 0.3s, visibility 0.2s, border-right 0.2s;}

		span:hover{cursor: pointer; font-size: 20px; border-right: 2px $pink solid; transition: font-size 0.3s, visibility 0.5s, border-right 0.2s;}
	}

	.dart{

	}

}

.drop:hover{

	font-size: 25px;
	border-left: 2px $blue solid;

	transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s;

	div{
		visibility: visible;
		opacity: 1;
		padding-top: 1rem;

		height: 7rem;

		transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s, margin-top 0.2s, margin-bottom 0.2s;

		span{visibility: visible; transition: visibility 0.5s, border-right 0.2s, font-size 0.3s;}
	}

	.dart{

			height: 9rem;

	}

}

.drop-active{

	font-size: 25px;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	cursor: pointer;
	border-left: 2px $gold solid;

	transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s;

	div{
		visibility: visible;
		opacity: 1;
		padding-top: 1rem;

		height: 7rem;

		transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s;

		span{visibility: visible; transition: visibility 0.5s, border-right 0.2s, font-size 0.3s;}
	}

	.dart{

			height: 9rem;

	}

}

.drop-active:hover{

	font-size: 25px;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	cursor: pointer;
	border-left: 2px $gold solid;

	transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s;

	div{
		visibility: visible;
		opacity: 1;
		padding-top: 1rem;

		height: 7rem;

		transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s;

		span{visibility: visible; transition: visibility 0.5s, border-right 0.2s, font-size 0.3s;}
	}

	.dart{
			height: 9rem;
	}

}


.no-drop{

	user-select: none;
	font-size: 20px;
	padding: 0.7rem;
	padding-top: 1rem;
	width: 100%;
	border-left: 2px transparent solid;

	transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s;

	div{
		font-size: 20px;
		display: flex;
		flex-direction: column; 
		opacity: 0;
		padding-top: 0rem;

		visibility: hidden;
		height: 0;

		transition: opacity 0.2s, height 0.7s, padding-top 0.2s, visibility 0.2s, margin-top 0.2s, margin-bottom 0.2s;

		span{width: 100%; margin: 3px; visibility: hidden; padding-right: 3px; border-right: 2px transparent solid;  transition: font-size 0.3s, visibility 0.2s, border-right 0.2s;}

		span:hover{cursor: pointer; font-size: 20px; border-right: 2px $pink solid; transition: font-size 0.3s, visibility 0.5s, border-right 0.2s;}
	}

	.dart{

	}

}

.no-drop:hover{

	font-size: 25px;
	border-left: 2px $blue solid;

	transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s;

	div{
		visibility: visible;
		opacity: 1;
		padding-top: 1rem;

		height: 7rem;

		transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s, margin-top 0.2s, margin-bottom 0.2s;

		span{visibility: visible; transition: visibility 0.5s, border-right 0.2s, font-size 0.3s;}
	}

	.dart{

			height: 9rem;

	}

}


//content 

#introdifie{
	display: grid;
	justify-items: center;

	grid-template: 
	"tools picture"
	"tools picture"
	"tools picture"
	"tools picture" 1fr /
	0.4fr 0.6fr;

	gap: 10px;
	row-gap: 30px;

	.mother{
		display: flex;
		flex-direction: column;
		border: 3px solid $main3;
		padding: 10px;
		padding-bottom: 20px;
		box-shadow: 0px 0px 30px -11px rgba(215, 3, 218, 0.5);

		span{
			font-family: 'Chakra Petch';
			font-weight: 200;
			font-size: 15px;
			opacity: 0.7;

			margin:10px
			
		}
	}

	.gridbuttons{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		font-size: 15px;
		gap: 10px;

		position: relative;
	}

	.gridbuttons-sc{
		display: grid;
		grid-template-columns: 1fr;
		font-size: 15px;
		gap: 10px;

		position: relative;
	}
	
	.wide{
		grid-column: span 2;
	}

	.long{
		grid-row: span 2;
	}

	li{
		font-weight: 500;
	}

	#tools{
		width: 100%;
		grid-area: tools;

		display: grid;
		grid-template-columns: 1fr;
		row-gap: 20px;
		padding: 5px;
	}

	#id-card{
		grid-area: picture;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.02fr 0.7fr 0.2fr;

		align-self: center;
		width: 90%;
		height: 97%;

		gap:10px;
		border: 3px solid $main3;
		box-shadow: 0px 0px 30px -11px rgba(215, 3, 218, 1),45px 40px 50px -60px rgb(29, 221, 255);
	
		.text-holder{
			display: flex;
			flex-direction: column;
		}

		.text-holder, p, h1, span{
			font-family: 'Chakra Petch', sans-serif !important;

		}

		h1{
			width: fit-content;
			height: fit-content;
		}

		.lower-op{
			opacity: 0.7;
		}

		.lowerer-op{
			opacity: 0.5;
		}

		div{
			margin: 10px;
		}

		.big{
			text-align: left;
			font-size: 50px;
			margin-top: 0;
			padding-top: 0;
			text-decoration: underline;
			text-decoration-color: $pink;
		}

		.pr-1{
			font-weight: 800;
			border: 2px solid $blue;
			padding: 5px;
		}
		.pr-2{
			font-weight: 800;
			border: 2px solid $gold;
			padding: 5px;
		}

		.center-smaller{
			width: 75%;
			align-self: center;
		}
		.center-smaller::before{
			content:"//";
			position: absolute;
			color: $pink;
			font-weight: 800;
			margin-left: -20px;
		}

	}


	.pfp-batch{
		display: flex;
		width: 100%;
		position: relative;
		height: 0;

		img{
			aspect-ratio: 1 / 1;
			width: 200px;
			height: 200px;
			position: absolute;
			border-radius: 100%;
		}

		.main-pfp{
			top: 3%;
			box-shadow: 0px 0px 30px -11px rgba(215, 3, 218, 1),-20px 40px 50px -40px rgb(29, 221, 255);
			left: 0;
			right: 0;
			justify-self: center;
		}

		.second{
			width: 120px;
			height: 120px;
			margin-top: 17.5%;
			left:53%;
			z-index: -1;
			box-shadow: 0px 0px 30px -11px rgb(205, 3, 218), 5px -30px 50px -20px rgb(255, 177, 21)
		}

		.third{
			width: 100px;
			height: 100px;
			top:5%;
			left:28%;
			box-shadow: 0px 0px 30px -11px rgba(215, 3, 218, 1),15px 0px 50px -20px rgb(172, 29, 255);
		}
	}
}

i{
	font-family: 'Chakra Petch', sans-serif !important;
}

b{
	font-family: 'Chakra Petch', sans-serif !important;
	font-weight: 800;
}
// color variations
.green-title::before{
	color: $green;
}

.green-buttons{
	background-color: transparent !important;
	box-shadow: inset 0px 0px 7px 1px $green,inset 0px 0px 0px 1px $green  !important;
}

.green-buttons::after{
	background: #006c04 !important;
	box-shadow: inset 0px 0px 0px 1px #02b008 !important;
}

.blue-title::before{
	color: $blue;
}

.blue-buttons-inset{
	background-color: transparent !important;
	box-shadow: inset 0px 0px 7px 1px $blue,inset 0px 0px 0px 1px $blue  !important;
}

.blue-buttons-inset::after{
	background: #00729b !important;
	box-shadow: inset 0px 0px 0px 1px #0fb6f8 !important;
}

.blue-buttons{
	background-color: $blue !important;
}

.blue-buttons::after{
	background: #00729b !important;
}

.gold-title::before{
	color: $gold;
}

.gold-buttons-inset{
	background-color: transparent !important;
	box-shadow: inset 0px 0px 7px 1px $gold,inset 0px 0px 0px 1px $gold  !important;
}

.gold-buttons-inset::after{
	background: #9b5d00 !important;
	box-shadow: inset 0px 0px 0px 1px #f8ae0f !important;
}

.gold-buttons{
	color: $main3 !important;
	text-shadow: #ffe2a2 0 0 10px,#ffe2a2 0 0 3px,#513600 0 0 2px !important;
	background: linear-gradient(0deg,rgba(255, 166, 0, 1) 53%, rgb(255, 228, 181) 86%, rgba(255, 166, 0, 1) 100%) !important;
	box-shadow: inset 0px 0px 7px 1px #ffcf68,inset 0px 0px 0px 1px #ffeeca  !important;
}

.gold-buttons:active{
	color: $main3 !important;
	text-shadow: #ffe2a2 0 0 10px,#ffe2a2 0 0 3px,#513600 0 0 2px !important;
	background: linear-gradient(0deg,rgba(255, 166, 0, 1) 71%, rgb(255, 228, 181) 97%, rgba(255, 166, 0, 1) 100%) !important;
	box-shadow: inset 0px 0px 7px 1px #ffcf68,inset 0px 0px 0px 1px #ffcf68  !important;
}

.gold-buttons::after{
	background: #693b00 !important;
	box-shadow: inset 0px 0px 3px 0px #d58300  !important;
}

.purple-title::before{
	color: $purple;
}

.purple-buttons-inset{
	background-color: transparent !important;
	box-shadow: inset 0px 0px 7px 1px $purple,inset 0px 0px 0px 1px $purple  !important;
}

.purple-buttons-inset::after{
	background: #7c00c1 !important;
	box-shadow: inset 0px 0px 0px 1px #c60ff8 !important;
}

.purple-buttons{
	background-color: $purple !important;
}

.purple-buttons::after{
	background: #7c00c1 !important;
}

.pink-buttons-inset{
	background-color: transparent !important;
	box-shadow: inset 0px 0px 7px 1px $pink,inset 0px 0px 0px 1px $pink  !important;
}

.pink-buttons-inset::after{
	background: #bb00c1 !important;
	box-shadow: inset 0px 0px 0px 1px #f314ff !important;
}

.white-title::before{
	color: $white;
}

.white-buttons-inset{
	background-color: transparent !important;
	box-shadow: inset 0px 0px 7px 1px $white,inset 0px 0px 0px 1px $white  !important;
}

.white-buttons-inset::after{
	background: #9e9e9e !important;
	box-shadow: inset 0px 0px 0px 1px #e6e6e6 !important;
}

.white-buttons{
	color: $main !important; 
	background-color: $white !important;
}

.white-buttons::after{
	background: #9e9e9e !important;
}

.intro-banner{
	width: 30%;
	padding: 1%;
	border: 2px $pink solid; 

	object-fit: cover;
	object-position: center;

	//-webkit-mask-image: linear-gradient(to top, transparent 20%, white 35%);
  //mask-image: linear-gradient(to top, transparent 20%, white 35%)

}

.main{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	width: 68%;
	margin: 2%;
	height: 90%;

	display: flex;
	flex-direction: column;

	overflow-y: scroll;

	align-items: center;

	color: $white;

	transition: left 0.2s;
}

.main-move{
	left: 62.5%;

	transition: left 0.2s;
}

//columns

.column-3{
	display: flex;
	align-items: center;
	column-count: 3;
	column-gap: 1rem;
	column-width: 32%;
	text-align: justify;

	p{
		width: 90%;
		padding: 2%;
	}
}

.column-2{
	display: flex;
	align-items: center;
	column-count: 2;
	column-gap: 1rem;
	column-width: 50%;
	text-align: justify;

	p{
		padding: 2%;
	}
}

//starting area
.pfp{
	width: 30rem;
	transform: translate(0px, 3px);
	background: transparent;
	border-radius: 0;
	border: 0;

	transition: background 0.7s, border 0.7s, border-radius 0.7s, width 0.7s;
}

.mid-width{
	width: 50%;
	margin-left: 5rem;
	margin-right: 5rem;

	transition: width 0.7s;
}

//buttons

.smolbutton{
 
 all: unset;

 z-index: 5;

 width: 3rem;
 height: 95%;

 left: 1%;
 top: 2%;

 position: absolute;

 display: flex;

 text-align: center;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: $white;

 background-color: $blue;

 transition: left 0.2s;

}

.smolbutton::after{
	content: "";
	position: absolute;
	background: #2784b2;
	height: 8px;
	width: 100%;
	z-index: -100;
	top:100%;
}

.smolbutton:hover{
	background-color: #3cc7ff;
	box-shadow: 0px 5px 20px 0px rgba($blue, 0.7);

	cursor: pointer;

	-webkit-box-shadow: 0px 0px 18px -1px rgba($blue, 0.35);
	-moz-box-shadow: 0px 0px 18px -1px rgba($blue, 0.35);
	box-shadow: 0px 0px 18px -1px rgba($blue, 0.35);
}

.smolbutton:active{
	transform: translateY(8px);
	box-shadow: 0px 5px 20px 0px rgba($blue, 0.9);
	-webkit-box-shadow: 0px 0px 18px -1px rgba($blue, 0.55);
	-moz-box-shadow: 0px 0px 18px -1px rgba($blue, 0.55);
	box-shadow: 0px 0px 18px -1px rgba($blue, 0.55);
}

.smolbutton:active::after{
	height: 0px;
}

.smolbutton-move{
	left:27%;
	transition: left 0.2s;
}

.smolbutton-txt{
	writing-mode: vertical-rl;
	text-orientation: upright;
	letter-spacing: 5px;

	font-weight: 500;
}

/*
.btn-link{
	all:unset;

	color: white;

	cursor: pointer;
	text-align: center;

	width: 100%;
	height: fit-content;
	padding: 0.5rem;

	background-color: $pink;

	display: flex;
	justify-content: center;
	align-content: center;

	margin-top: 0rem;
	border-bottom: 0.5rem solid #b227b1;

	transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;


	-webkit-box-shadow: 0px 0px 18px -1px rgba($purple, 0);
	-moz-box-shadow: 0px 0px 18px -1px rgba($purple, 0);
	box-shadow: 0px 0px 18px -1px rgba($purple, 0);
}

.btn-link:hover{
	background-color: #ff38ef;

	border-bottom: 0.3rem solid #b227b1;
	margin-top: 0.2rem;

	transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;

	-webkit-box-shadow: 0px 0px 18px -1px rgba($purple, 0.35);
	-moz-box-shadow: 0px 0px 18px -1px rgba($purple, 0.35);
	box-shadow: 0px 0px 18px -1px rgba($purple, 0.35);
}

.btn-link:active{
	border-bottom: 0rem solid #65165f;
	margin-top: 0.5rem;

	transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;

	-webkit-box-shadow: 0px 0px 18px -1px rgba($pink, 0.55);
	-moz-box-shadow: 0px 0px 18px -1px rgba($pink, 0.55);
	box-shadow: 0px 0px 18px -1px rgba($pink, 0.55);
}
*/

//TEST NEW GALLERY SYSTEM
.gallery-new{

	width: 93%;

	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1fr;

	column-gap: 2px;
	row-gap: 2px;

	.g-column{
		
	}

	.g-column-large{
		
	}

	.gallery-img{
		border: unset;
		z-index: 0;
		user-select: none;

		aspect-ratio: 1;

		width: 100%;

		object-fit: cover;
		object-position: center;

		border-radius: 0rem;
		// border: 2px solid $main;
		background: linear-gradient($main); 

		box-shadow: 0px 0px 5px -5px transparent;

		outline: 0px $blue solid;

		transition:  border 0.5s, background 0.2s, transform 0.0s, box-shadow 0s;


	}

	.gallery-img:hover{
		z-index: 1;
		transform: scale(1.03);
		background: linear-gradient($main, $main2); 
		// border: 2px solid $main;

		box-shadow: 0px 0px 0px 5px $pink;

		//outline: 2px $pink solid;

		transition: border 0.5s, background 0.2s, transform 0.1s, box-shadow 0.2s;
	}

	.tall{
		object-position: top;
	}


	.left{
		object-position: 20%;
	}

	.tall{
		object-position: top;
	}

		.right{
		object-position: right;
	}

}

.gallery-cs{
	grid-template-columns: repeat(2, 1fr);

	.gallery-img{
		border: unset;
		z-index: 0;
		user-select: none;
		aspect-ratio: unset;
		width: 100%;
		height: 100%;

		object-fit: cover;

		border-radius: 0rem;
		// border: 2px solid $main;
		background: linear-gradient($main); 

		box-shadow: 0px 0px 5px -5px transparent;

		outline: 0px $blue solid;

		transition:  border 0.5s, background 0.2s, transform 0.0s, box-shadow 0s;


	}
}
	

.gallery-emoji{

	width: 90%;

	margin-left: auto;
	margin-right: auto;


	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 20px;

	img{
		width: 100%;
	}

	.emoji-show{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: minmax(repeat(2,1fr),repeat(4,1fr));
		gap:5px;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		width: 90%;
		padding: 20px;

		border: unset;
		z-index: 0;
		user-select: none;

		border: 3px solid $main3;
		background: linear-gradient($main); 

		box-shadow: 0px 0px 42px -11px rgba(0,0,0,0);

		transition: border 0.5s, background 0.2s, transform 0.1s, box-shadow 0.2s;


	}

	.emoji-show:hover{
		z-index: 5;
		background: linear-gradient($main, $main2); 
	}
}



.gallery{

	width: 98%;
	padding: 1%;

	margin-top: 2%;
	margin-bottom: 2%;

	column-count: 3;
	column-width: 32%;
	column-gap: 0;

	text-align: center;

	.gallery-img{
		border: unset;
		z-index: 0;
		user-select: none; 
		width: 90%;

		border-radius: 1rem;
		border: 2px solid $main;
		background: linear-gradient($main); 

		box-shadow: 0px 0px 42px -11px rgba(0,0,0,0);

		transition: border 0.5s, background 0.2s, transform 0.1s, box-shadow 0.2s;

	}

	.gallery-img:hover{
		z-index: 5;
		transform: scale(1.05);
		border: 2px solid $main3;
		background: linear-gradient($main, $main2); 

		box-shadow: 0px 0px 42px -11px rgba(100,3,101,0.85);

		transition: border 0.5s, background 0.2s, transform 0.3s, box-shadow 0.5s;


	}
}

.gallery-large{
	column-count: 1;
}

.zoom-in-prep{
	transform: scale(0.9);

	transition: transform 0.6s;
}
//portrait
.zoom-in-active{
	opacity: 1;

	visibility: visible;
	z-index: 9;
	height: 80%;
	width: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;

	border-radius: 0.2rem;
	border: 2px solid transparent;

	transform: scale(1.1);

	animation: 0.5s fadeInOpacity;

	transition: width 0.2s, transform 0.2s;
}
//landscape
.zoom-in-active-2{
	opacity: 1;

	visibility: visible;
	z-index: 9;
	height: 80%;
	width: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;

	border-radius: 0.2rem;
	border: 2px solid transparent;

	transform: scale(1.1);

	animation: 0.5s fadeInOpacity;

	transition: width 0.2s, transform 0.2s;
}

//square
.zoom-in-active-3{
	opacity: 1;

	visibility: visible;
	z-index: 9;
	width: 35%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;

	border-radius: 0.2rem;
	border: 2px solid transparent;

	transform: scale(1.1);

	animation: 0.5s fadeInOpacity;

	transition: width 0.2s, transform 0.2s;
}


@keyframes fadeInOpacity {
	from {
		transform: scale(1);
		opacity: 0;
	}
	to {
		transform: scale(1.1);
		opacity: 1;
	}
}

.zoom-in-emoji{

		visibility: visible;
		z-index: 9;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		position: absolute;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		width: 80%;
		height: 60%;

		transform: scale(1.1);
		transition: width 0.2s, transform 0.3s;

		border: 2px solid transparent;

		img{
			width: 100%;
		}

		.big-emoji{
			margin: 2%;
			width: 40%;
			height: 0;
			padding-bottom: 40%;
		}

		.medium-emoji{
			margin: 2%;
			width: 20%;
			height: 0;
			padding-bottom: 20%;
		}

		.small-emoji{
			margin: 2%;
			width: 10%;
			height: 0;
			padding-bottom: 10%;
		}

	}

.zoom-in-active:hover{

}

.zoom-in-back{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;


	display: flex;
	z-index: 8;
	width: 100%;
	height: 100%;

	backdrop-filter: blur(2px);

	background-color: rgba(0, 0, 0, 0.5);

	justify-content: right;
}

.hidden-zoom-in-back{
	visibility: hidden;
}

.show-zoom-in-back{
	visibility: visible;
}

.v-wrap{
	margin: auto;
	flex: 60%;
	max-width: 60%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.v{
 	width: 60%;
}


//Discord Colors
$discordback: #313338;
$discordblue: #5865f2;
$discordgreen: #219353;
$discordgreenlight: #2dc770;
$discorddark: #1e1f22;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300&display=swap');

.discord-banner{
	font-family: 'Open Sans', sans-serif;

	width: 70%;
	margin: auto;
	border-radius: 0.5rem;
	margin-bottom: 3%;
	margin-top: 3%;

	.title{
		margin: 0;
		width: 100%;

		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;

		background: $discordblue;

		img{
			width: 7rem;

			margin-top: 1%;
			margin-left: 2%;
		}
	}
}

.discord-banner-content{
	font-family: 'Open Sans', sans-serif;

	display: flex;
	flex-direction: column;

	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;

	padding: 2%;

	background: $discordback;

	background-image: url('');
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;

	transition: background-image 0.2s;

	p{
		margin: 0;
		text-align:justify;
		text-justify:auto;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		border-radius: 0.3rem;
		padding-bottom: 2%;
		padding-top: 1%;
	}

}

.bgdiscdark{
	background: $discorddark;
}

//Text formating

.big{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 800;
	text-align: center;
	font-size: 1.6rem;
}

.bold{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 700;
}

.medium{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 600;
}

.big-roboto{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

h1{
	font-size: 2rem;
	margin-bottom: 0;
}

.bold-roboto{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 500;
}

.medium-roboto{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 300;
}



//button / selector formating

.selector{
	height: 1rem;
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	width: fit-content;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;

	padding: 1rem;
	border-radius: 0.3rem;
	background: $discordgreen;

	transition: background 0.2s, transform 0.2s;
}

.selector:hover{
	cursor: pointer;
	background: $discordgreenlight;
	transform: scale(1.01);

	transition: background 0.2s, transform 0.2s;
}

.selector2{
	height: 1rem;
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	width: fit-content;
	font-family: 'Open Sans', sans-serif;
	margin: 0%;
	margin-left: 1%;

	padding: 1rem;
	border-radius: 0.3rem;
	background: #bf3134;

	transition: background 0.2s, transform 0.2s;
}

.selector2:hover{
	cursor: pointer;
	background: #e53a3e;
	transform: scale(1.01);

	transition: background 0.2s, transform 0.2s;
}

.btnholder{
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 3rem;
	margin-top: 2%;
	margin-bottom: 1%;
}

.close-button{
	all: unset;

	position: absolute;
	z-index: 10;

	display: flex;

	width: 3rem;
 	height: 3rem;

 	right: 1%;
 	top: 2%;

	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;

	background-color: $gold;

 	margin-top: 0rem;
 	border-bottom: 0.5rem solid #c65200;

 	transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s, left 0.2s;

}

.close-button:hover{
	background-color: #ffba21;

	cursor: pointer;

	border-bottom: 0.3rem solid #c65200;
	margin-top: 0.2rem;

	transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s, left 0.2s;

	-webkit-box-shadow: 0px 0px 18px -1px rgba($gold, 0.35);
	-moz-box-shadow: 0px 0px 18px -1px rgba($gold, 0.35);
	box-shadow: 0px 0px 18px -1px rgba($gold, 0.35);
	cursor: pointer;
}

.close-button:active{
	border-bottom: 0rem solid #602800;
	margin-top: 0.5rem;

	transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s, left 0.2s;

	-webkit-box-shadow: 0px 0px 18px -1px rgba($gold, 0.55);
	-moz-box-shadow: 0px 0px 18px -1px rgba($gold, 0.55);
	box-shadow: 0px 0px 18px -1px rgba($gold, 0.55);
}



.btn-link-mom{

	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;

	width: 100%;

	position: relative;
}

.btn-link{
	all:unset;
	user-select: none;

	color: white;

	cursor: pointer;
	text-align: center;

	width: 100%;
	height: fit-content;
	padding-top:0.5rem;
	padding-bottom:0.5rem;

	background-color: $pink;

	display: flex;
	justify-content: center;
	align-content: center;

	box-shadow: 0px 5px 20px 0px rgba($pink, 0);
}

.btn-link::after{
	content: "";
	position: absolute;
	background: #b227b1;
	height: 5px;
	width: 100%;
	z-index: -100;
	top:100%;
}

.btn-link:hover{

	
}

.btn-link:hover::after{

}


.btn-link:active{
	width: 100%;
	transform: translateY(5px);

	
}

.btn-link:active::after{
	height: 0px;
}

.btn-link-deactivated{
	all:unset;

		cursor: not-allowed;
		text-align: center;

		width: 50%;
		height: fit-content;
		padding: 0.5rem;


		border-radius: 0.5rem;

		background-color: #929292;

		display: flex;
		justify-content: center;
		align-content: center;

		border-bottom: 0.5rem solid #464646;

		transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;

		//b{
		//	font-size: 1.8rem;
		//}

		-webkit-box-shadow: 0px 0px 18px -1px rgba($gold, 0);
		-moz-box-shadow: 0px 0px 18px -1px rgba($gold, 0);
		box-shadow: 0px 0px 18px -1px rgba($gold, 0);
}

.btn-link-deactivated:hover{
	cursor: not-allowed;

	background-color: #929292;

	border-bottom: 0.5rem solid #464646;
	margin-bottom: 0;

	-webkit-box-shadow: 0px 0px 18px -1px rgba($gold, 0);
		-moz-box-shadow: 0px 0px 18px -1px rgba($gold, 0);
		box-shadow: 0px 0px 18px -1px rgba($gold, 0);
}

//do-don't-box

.do-dont-mother{
	display: grid;
	width: 80%;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 2px;
	margin: 2%;
	margin-left: auto;
	margin-right: auto;
	grid-template-rows: 1fr;


	h1{
		margin-top: 0;
		text-align: center;
		font-size: 1.6rem;
	}
}

.do-box{
	width:100%;
	height: fit-content;


	border: 2px $pink solid;
	background: linear-gradient($main2, $main);

	transition: transform 0.2s;

	ul{
		
	}

	li{
		margin-top: 0.2rem;
		font-weight: 500;

		align-items: center;
	}

	li::marker{
		color: $pink;
	}

	.big-roboto{
		margin-bottom: 0;
		padding: 0.2rem;
		background: $pink;
	}
}

.do-box:hover{
	transform: translateY(-5px);
	transition: transform 0.2s;
}

.dont-box{
	width:100%;
	height: fit-content;

	border: 2px $blue solid;
	background: linear-gradient($main2, $main);

	transition: transform 0.2s;

	li{
		margin-top: 0.2rem;
		font-weight: 500;

		align-items: center;
	}

	li::marker{
		color: $blue;
	}

	.big-roboto{
		margin-bottom: 0;
		padding: 0.2rem;
		background: $blue;
	}
}

.dont-box:hover{
	transform: translateY(-5px);
	transition: transform 0.2s;
}

.waitlist-mom{

	margin: auto;
	margin-top: 5px;
	margin-bottom: 20px;
	width: 60%;
	height: fit-content;

	display: flex;
	border-radius: 0.5rem;
	border: 2px solid $pink;

	.selector{
		background-color: $pink;
	}

	.selector:hover{
		background-color: #fc4eb0;
	}
}

.wt-logoholder{
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: center;

	img{
		max-width: 60%;
	}

	background-color: $pink;
}

.wt-content-wrapper{
	width: 80%;

	display: flex;
	flex-direction: column;
}

.waitlist-title{
	height: 20%;

	padding: 10px;

	display: flex;
	align-items: center;
}

.waitlist-content{
	display: flex;
	flex-direction: column;
	height: 80%;

	padding: 10px;

	.btnholder{
		margin: 0;
		align-self: flex-end;
	}
}

.illu-auto-calc{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3,1fr);


		label{
			cursor: pointer;
		}
		

		.pricing{
			display: grid;
			grid-template:
			"title title title"
			"a b x"
			"c d y"
			"e f z"
			"legend legend legend" 1fr
			/ 1fr 0.1fr 0.5fr;
			
			grid-gap: 10px;
			align-items: center;
		
			padding-bottom: 10px;
			
			.split-org{
				display: grid;
				grid-template-columns: 0.2fr 0.8fr;
				justify-items: center;
				align-items: center;
			}
		}

		.comms-example{
			position: absolute;
			border: 3px solid $pink;
			top: 0;
			margin-top: -50px;
			opacity: 0;
			width: 93%;
			height: auto;
			background-color: $main;
			display: grid;
			visibility: hidden;
			justify-self: center;
			gap: 5px;
			padding: 2%;
			align-items: center;
			z-index: 100;
			grid-template:
			"title button"
			"gallery gallery"
			"legend legend" 1fr
			/ 0.8fr 0.2fr;
			
			transition: margin-top 0.4s, opacity 0.2s, visibility 0.5s;
			
			.gallery-new{
				grid-area: gallery;
				grid-template-columns: repeat(3,1fr);
				width: 100%;
			}

			.btn-link-mom{
				visibility: visible !important;
				.btn-link{
					margin-left: 0% !important;
				}
			}
		}

		.canim{
			opacity: 1;
			margin-top: 0px;

			transition: margin-top 0.4s, opacity 0.2s;
		}

		fieldset{
			all:unset;

			display: grid;
			grid-template:
			"title title title"
			"a b x"
			"c d y"
			"e f z"
			"legend legend legend" 1fr
			/ 0.1fr 1fr 0.3fr;
			
			grid-gap: 10px;
			align-items: center;

			padding-bottom: 10px;

			
			box-shadow: 0px 0px 0px 0px $blue;
			transition: background 0.2s;
		}
		fieldset:hover{
			.l-tit{
			.x{
				opacity: 1;
				visibility: visible;
				transition: transform 0.2s, visibility 0.2s;
				.btn-link{
				margin-left: 0%;
				transition: margin-left 0.2s;
				}
			}
		}
		}

		.l-tit{
			cursor: default;
			font-family: 'Chakra Petch';
			grid-area: title;
			font-weight: 600;
			font-size: 20px;
			background-color: $main3;

			height: fit-content;

			padding: 5px;

			display: grid;
			grid-template-columns: 0.7fr 0.3fr;
			grid-template-rows: 1fr;
			align-items: center;
			position: relative;

			.btn-link-mom{
				font-family: 'Chakra Petch';
				font-weight: 600;
				font-size: 14px;

				display: flex;
				z-index: 10;

				visibility: hidden;
				overflow: hidden;
				transition: transform 0.2s, visibility 0.2s;
				.btn-link{
				margin-left: 200%;
				transition: margin-left 0.3s;
				border-bottom: 5px solid #b227b1;
				}
				.btn-link::after{
				all: unset;
				}
			}
			
				
		}

		.l-leg{
			font-family: 'Chakra Petch';
			grid-area: legend;
			font-weight: 200;
			font-size: 15px;
			opacity: 0.7;

			height: fit-content;

			padding: 5px;
		}

		.l-titulo{
			font-family: 'Chakra Petch';
			font-weight: 600;
			font-size: 20px;
		}	
}


table{

	.tr-sep{
		border-bottom: 2px solid $pink;
	}

	.divider{
	 height: 20px;

	}
	
	caption{
	caption-side: bottom;
	text-align: left;

	font-weight: 300;
	font-size: 16px;
	margin-top: 1%;

	}

	font-family: 'Chakra Petch';

	gap:2px;

	width: 90%;

	border: 2px solid $main3;

	padding: 0.5rem;

	font-size: 20px;

	margin-top: 0.5rem;

	box-shadow: 0px 0px 42px -11px rgba(100,3,101,0.25);

	th{
		text-align: left;
		font-weight: 600;
	}

}

tr:hover{
	background-color: $main3;
	cursor: default;

}
.table-smol{
	width: 70%;
}

.pricing-esp{
	width: 90%;

	font-size: 20px;

	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.table-holder{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.optional{
	color: $gold;
}

.optional-pink{
	color: $pink;
}


.tos{

	*{}

	overflow: none;

	z-index: 15;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	top: 0;
	bottom: 0;
	align-self: center;
	justify-self: center;
	height: 85%;

	border: 3px $gold solid;

	background-color: rgba($main, 1.0);

	box-shadow: 0px 0px 5px 0px rgba(247,144,10,1);

	color: white;

	hr{
		border-bottom: 2px $gold solid;
		width: 100%;
	}

	li::marker{
		color: $gold;
		font-weight: 700;
	}

	li{
		padding: 0.3rem;
	}



	h1{
	 font-weight: 900;
	}

	h2{
		font-weight: 700;
	}
}


.last-p{
	margin-bottom: 4rem;
}

.tos-hidden{
	display: none;
}

.tos-title{
	width: fit-content;
	padding: 15px;
}

.quote{
	padding-left: 10px;
	border-left: 2px solid $pink;

	margin-top: 3px;
}

.firstfirst{
	td{
		width: 17%;
	}

	td+td{
		width: auto;
	}
}

.content-tos{

	display: flex;
	justify-content: center;


	height: 82%;

	p{font-size: 18px;}

	b{
		font-weight: 800;
	}

	table{
		width: 100%;
		font-size: 17px;
		th{
			text-align: left;
		}
	}

	td{
		padding-bottom: 10px;
		padding-top: 10px;

		vertical-align: top;
	}
}

.tos-wrapper{
 	width: 96%;
 	height: 100%;

 	padding: 10px;

 	overflow-y: scroll;
}

.tosbutton{
	position: absolute;
	margin: 0;

	bottom:0;

	.btn-link{

	}
}

.nomargin{
	margin: 0;
}

.onlymargintop{
	margin: 0;
	margin-top: 2rem;
	margin-bottom:0;
}

.vtubershow{
	width: 90%;
	margin: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 0.5rem;
}

.vt-title{
	width: 96%;

	border: 2px solid $pink;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	text-align: left;

	cursor: pointer;

	padding: 10px;

	 -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

	h1{
		text-align: left;
		margin-right: auto;
	}

	h1::before{
		content: '✦';

		margin-right: 10px;
	}
}

.tag{
	font-family: Chakra Petch, sans-serif;

	height: fit-content;

	padding-right: 7px;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;

	margin-left: 5px;
	margin-right: 5px;

	font-weight: 800;
}

.wip{
	border: 3px solid $blue;
}

.redebut{
	border: 3px solid $pink;
}

.grad{
	border: 3px solid $gold;
}

.pronoums{
	border: 3px solid $pink;
}

.vtubershowon{
	.vt-content{
		visibility: visible;
		height: 45rem;
		opacity: 1;

		margin-bottom: 0.8rem;


		transition: height 0.5s, visibility 0.1s, opacity 0.2s, margin-bottom 0.3s;

	}
}

.pink{
	border-color: $pink;
}

.pinktxt{
	color: $pink;
}

.vt-content{
	visibility: hidden;
	height: 0rem;
	opacity: 0;

	width: 95%;
	border-bottom: 2px solid $pink;
	border-left: 2px solid $pink;
	border-right: 2px solid $pink;

	margin-bottom: 0;

	overflow: hidden;

	align-items: center;

	transition: height 0.4s,  visibility 0.6s, opacity 0.5s, margin-bottom 0.4s;
}

.vtwrapper{
	margin-top: 0.5rem;
	display: flex;
	padding: 0.5rem;
}

.vtpfp{
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: center;

	img{
		width: 13rem;
		border-radius: 100%;
	}
}

.vtpcontent{
	width: 58%;

	margin-left: 1%;
	margin-right: 1%;
}

.vtlinks{
	width: 20%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.selector{
		width: 80%;
		margin: 2px;

		b{
			margin-left: 5px;
		}
	}

	.selector:hover{
		transform: none;
	}
}

//links custom

.twitch{
	background-color: #a970ff;
}

.twitch:hover{
	background-color: #bc90ff;
}

.twitter{
	background-color: #0c95cc;
}

.twitter:hover{
	background-color: #0eb0f2;
}

.youtube{
	background-color: #fc103e;
}

.youtube:hover{
	background-color: #fc365d;
}

.patreon{
	background-color: #fc7322;
}

.patreon:hover{
	background-color: #fc853f;
}

h2{
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;

	font-weight: 300;
}

h2::before{
	content: '// ';
	color: $pink;
}

li::marker{
	color: $pink;
}

// Vtubers

.justsam {
	border-color: #fd1047;
}

.noteos{
	border-color: $blue;
}

.cara{
	border-color: $gold;
}

.val{
	border-color: #6a19ed;
}

.tiamat{
	border-color: #00f21b;
}

// bunny

.bubunny{
	z-index: 15;
	position: absolute;
	right: 120%;
	bottom: 2%;
	animation: 3s bubunny;
}


@keyframes comms-example-up-down{
	0%{
		margin-bottom: 0px;
		opacity: 0;
	}
	100%{
		margin-bottom: 50px;
		opacity: 1;
	}
}

@keyframes bubunny{
	0%{
		right: -20%;
		bottom: 10%;
		transform: rotate(-5deg);
	}

	20%{
		right: 0%;
		bottom:-1%;
		transform: rotate(5deg);
	}
	40%{
		right: 40%;
		bottom:10%;
		transform: rotate(-5deg);
	}
	60%{
		right: 80%;
		bottom:-1%;
		transform: rotate(5deg);
	}
	80%{
		right: 100%;
		bottom: 10%;
		transform: rotate(-5deg);
	}
	100%{
		right: 120%;
		bottom: -1%;
		transform: rotate(5deg);
		display: none;
	}
}


input[type=range] {
  width: 100%;
  margin: 17.25px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #fff3f1;
  border: 0;
  width: 100%;
  height: 4.5px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -17.25px;
  width: 13px;
  height: 39px;
  background: #ff39fd;
  border: 3.5px solid #fff3f1;
  border-radius: 1px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  background: #fff3f1;
  border: 0;
  width: 100%;
  height: 4.5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 13px;
  height: 39px;
  background: #ff39fd;
  border: 3.5px solid #fff3f1;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.2s;
}
input[type=range]:disabled::-moz-range-thumb {
  width: 13px;
  height: 0px;
  background: #ff39fd;
  border: 3.5px solid #fff3f1;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.2s;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 24.85px 0;
  color: transparent;
  width: 100%;
  height: 4.5px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ff8a77;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #fff3f1;
  border: 0;
}
input[type=range]::-ms-thumb {
  width: 13px;
  height: 39px;
  background: #ff39fd;
  border: 3.5px solid #fff3f1;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff3f1;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.radioButton {
	appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	border: 3px solid $pink;
	border-radius: 100%;
	cursor: pointer;
	transition:all 0.2s;
}

.radioButton:disabled {
	opacity: 0.2;
	border-color:$white;
	transition:all 0.2s;
}

.radioButton:disabled:checked {
	opacity: 0.2;
	border-color:$white;
	transition:all 0.2s;
}

.radioButton:disabled:checked::after {
	opacity: 0;
	background-color:$white;
	transition:all 0.2s;
}

.radioButton:checked {
	border: 3px solid $pink;
	transition: all 0.2;
}

.radioButton:checked::after {
	content: "";
	position: absolute;
	inset: 0;
	width: 9px;
	height: 9px;
	margin: auto;
	border-radius: 100%;
	background-color: $blue;
	transition: all 0.2s;
	animation: 0.1s checked;
}

.checkedButton {
	appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	border: 3px solid $blue;
	transform: rotate(45deg);
	cursor: pointer;
	transition:all 0.2s;
}

.checkedButton:disabled {
	opacity: 0.2;
	border-color:$white;
	transform: rotate(0deg);
	transition:all 0.2s;
}

.checkedButton:disabled:checked {
	opacity: 0.2;
	border-color:$white;
	transition:all 0.2s;
}

.checkedButton:checked {
	border: 3px solid $gold;
	transform: rotate(90deg);
	transition: all 0.2;
}

.checkedButton:checked::after {
	content: "";
	position: absolute;
	inset: 0;
	width: 9px;
	height: 9px;
	margin: auto;
	background-color: $gold;
	transition: all 0.2s;
	animation: 0.1s checked;
}

@keyframes checked{
	0%{
		width: 0px;
		height: 0px;
	}
	100%{
		width: 9px;
		height: 9px;
	}
}

/*
Source - https://stackoverflow.com/a
Posted by tao, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-04, License - CC BY-SA 4.0
*/

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  width: 100%;
  gap: 10px;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  color: $pink;
  position: relative;
  font-weight: 800;
  transform: scale(2);
}

.number-input input[type=number]{
  font-family: 'Chakra Petch', sans-serif;
  color: $blue;
  font-size: 18px;
  height: 100%;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: none;
}

.number-input input[type=number]:disabled{
  opacity: 0.3;
}

.f-pricing{
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 800;
}
