@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap");
/*PC*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth; }

* {
  scrollbar-width: auto;
  scrollbar-color: #f516d5 #040109; }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px; }

*::-webkit-scrollbar-track {
  background: #040109; }

*::-webkit-scrollbar-thumb {
  background-color: #f516d5;
  border-radius: 10px;
  border: 3px solid #ffffff; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #040109; }

html {
  overflow: hidden; }

body {
  background: #040109;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0; }

hr {
  color: transparent;
  width: 85%;
  border-bottom: 2px #fc1196 solid; }

.nomarginbt {
  margin-bottom: 0;
  margin-top: 0; }

.difiebar {
  width: 25%;
  margin: 3%;
  height: 85%;
  padding: 1rem;
  background-color: #040109;
  transition: width 0.5s, height 0.3s, margin 0.7s; }
  .difiebar .difiebarcontent {
    opacity: 1;
    transition: opacity 2s; }
  .difiebar a {
    all: unset; }

.hide-difiebar {
  width: 0%;
  margin: 0%;
  padding: 0rem;
  transition: width 0.8s, height 0.3s, margin 0.7s;
  visibility: hidden; }
  .hide-difiebar .difiebarcontent {
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s; }

.sidelogodifer {
  width: 11rem;
  transition: transform 0.2s; }

.sidelogodifer:hover {
  transform: rotate(2deg);
  transition: transform 0.2s;
  cursor: pointer; }

.difiebarcontent {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px #fc1196 solid; }

.dheader {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px #fc1196 solid; }

.dcontent {
  color: #fff3f1;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: left;
  overflow-y: scroll; }
  .dcontent ul {
    list-style-type: none; }

.actdrop {
  cursor: pointer;
  font-weight: 300; }

.drop {
  user-select: none;
  font-size: 20px;
  padding: 0.7rem;
  padding-top: 1rem;
  width: 100%;
  border-left: 2px transparent solid;
  transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
  .drop div {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding-top: 0rem;
    visibility: hidden;
    height: 0;
    transition: opacity 0.2s, height 0.7s, padding-top 0.2s, visibility 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
    .drop div span {
      width: 100%;
      margin: 3px;
      visibility: hidden;
      padding-right: 3px;
      border-right: 2px transparent solid;
      transition: font-size 0.3s, visibility 0.2s, border-right 0.2s; }
    .drop div span:hover {
      cursor: pointer;
      font-size: 20px;
      border-right: 2px #fc1196 solid;
      transition: font-size 0.3s, visibility 0.5s, border-right 0.2s; }

.drop:hover {
  font-size: 25px;
  border-left: 2px #10bbff solid;
  transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
  .drop:hover div {
    visibility: visible;
    opacity: 1;
    padding-top: 1rem;
    height: 7rem;
    transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s, margin-top 0.2s, margin-bottom 0.2s; }
    .drop:hover div span {
      visibility: visible;
      transition: visibility 0.5s, border-right 0.2s, font-size 0.3s; }
  .drop:hover .dart {
    height: 9rem; }

.drop-active {
  font-size: 25px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
  border-left: 2px #ffac22 solid;
  transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
  .drop-active div {
    visibility: visible;
    opacity: 1;
    padding-top: 1rem;
    height: 7rem;
    transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s; }
    .drop-active div span {
      visibility: visible;
      transition: visibility 0.5s, border-right 0.2s, font-size 0.3s; }
  .drop-active .dart {
    height: 9rem; }

.drop-active:hover {
  font-size: 25px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
  border-left: 2px #ffac22 solid;
  transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
  .drop-active:hover div {
    visibility: visible;
    opacity: 1;
    padding-top: 1rem;
    height: 7rem;
    transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s; }
    .drop-active:hover div span {
      visibility: visible;
      transition: visibility 0.5s, border-right 0.2s, font-size 0.3s; }
  .drop-active:hover .dart {
    height: 9rem; }

.no-drop {
  user-select: none;
  font-size: 20px;
  padding: 0.7rem;
  padding-top: 1rem;
  width: 100%;
  border-left: 2px transparent solid;
  transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
  .no-drop div {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding-top: 0rem;
    visibility: hidden;
    height: 0;
    transition: opacity 0.2s, height 0.7s, padding-top 0.2s, visibility 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
    .no-drop div span {
      width: 100%;
      margin: 3px;
      visibility: hidden;
      padding-right: 3px;
      border-right: 2px transparent solid;
      transition: font-size 0.3s, visibility 0.2s, border-right 0.2s; }
    .no-drop div span:hover {
      cursor: pointer;
      font-size: 20px;
      border-right: 2px #fc1196 solid;
      transition: font-size 0.3s, visibility 0.5s, border-right 0.2s; }

.no-drop:hover {
  font-size: 25px;
  border-left: 2px #10bbff solid;
  transition: font-size 0.2s, border-left 0.2s, margin-top 0.2s, margin-bottom 0.2s; }
  .no-drop:hover div {
    visibility: visible;
    opacity: 1;
    padding-top: 1rem;
    height: 7rem;
    transition: opacity 1s, height 0.2s, padding-top 0.2s, visibility 0.5s, margin-top 0.2s, margin-bottom 0.2s; }
    .no-drop:hover div span {
      visibility: visible;
      transition: visibility 0.5s, border-right 0.2s, font-size 0.3s; }
  .no-drop:hover .dart {
    height: 9rem; }

.main {
  width: 70%;
  margin: 3%;
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  color: #fff3f1; }

.column-3 {
  display: flex;
  align-items: center;
  column-count: 3;
  column-gap: 1rem;
  column-width: 32%;
  text-align: justify; }
  .column-3 p {
    width: 90%;
    padding: 2%; }

.column-2 {
  display: flex;
  align-items: center;
  column-count: 2;
  column-gap: 1rem;
  column-width: 50%;
  text-align: justify; }
  .column-2 p {
    padding: 2%; }

.pfp {
  width: 30rem;
  transform: translate(0px, 3px);
  background: transparent;
  border-radius: 0;
  border: 0;
  transition: background 0.7s, border 0.7s, border-radius 0.7s, width 0.7s; }

.mid-width {
  width: 50%;
  margin-left: 5rem;
  margin-right: 5rem;
  transition: width 0.7s; }

.smolbutton {
  all: unset;
  width: 3rem;
  height: 3rem;
  left: 14%;
  top: 2%;
  position: absolute;
  transition: left 0.5s, transform 0.2s;
  border: 3px #fc1196 solid;
  border-radius: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fc1196;
  background-color: #040109; }

.smolbutton:hover {
  transform: scale(1.1);
  transition: left 0.5s, transform 0.2s;
  cursor: pointer; }

.smolbutton-move {
  left: 6%;
  transition: left 0.5s, transform 0.2s; }

.gallery-new {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .gallery-new .g-column {
    flex: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gallery-new .g-column-large {
    flex: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gallery-new .gallery-img {
    border: unset;
    z-index: 0;
    user-select: none;
    width: 99%;
    height: 425px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.6rem;
    border: 2px solid #040109;
    background: linear-gradient(#040109);
    box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0);
    transition: border 0.5s, background 0.2s, transform 0.1s, box-shadow 0.2s; }
  .gallery-new .gallery-img:hover {
    z-index: 5;
    transform: scale(1.03);
    border: 2px solid #15052f;
    background: linear-gradient(#040109, #080213);
    box-shadow: 0px 0px 42px -11px rgba(100, 3, 101, 0.85);
    transition: border 0.5s, background 0.2s, transform 0.3s, box-shadow 0.5s; }
  .gallery-new .tall {
    object-position: top; }
  .gallery-new .left {
    object-position: 20%; }
  .gallery-new .tall {
    object-position: top; }
  .gallery-new .right {
    object-position: right; }

.gallery-emoji {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .gallery-emoji .g-column {
    flex: 48%;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gallery-emoji .emoji-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: unset;
    z-index: 0;
    user-select: none;
    width: 95%;
    height: 300px;
    border-radius: 0.6rem;
    border: 2px solid #040109;
    background: linear-gradient(#040109);
    box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0);
    transition: border 0.5s, background 0.2s, transform 0.1s, box-shadow 0.2s; }
    .gallery-emoji .emoji-show img {
      width: 100%; }
    .gallery-emoji .emoji-show .big-emoji {
      margin: 2%;
      width: 40%;
      height: 0;
      padding-bottom: 40%; }
    .gallery-emoji .emoji-show .medium-emoji {
      margin: 2%;
      width: 20%;
      height: 0;
      padding-bottom: 20%; }
    .gallery-emoji .emoji-show .small-emoji {
      margin: 2%;
      width: 10%;
      height: 0;
      padding-bottom: 10%; }
  .gallery-emoji .emoji-show:hover {
    z-index: 5;
    transform: scale(1.03);
    border: 2px solid #15052f;
    background: linear-gradient(#040109, #080213);
    box-shadow: 0px 0px 42px -11px rgba(100, 3, 101, 0.85);
    transition: border 0.5s, background 0.2s, transform 0.3s, box-shadow 0.5s; }
  .gallery-emoji .tall {
    object-position: top; }
  .gallery-emoji .left {
    object-position: 20%; }

.gallery {
  width: 98%;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  column-count: 3;
  column-width: 32%;
  column-gap: 0;
  text-align: center; }
  .gallery .gallery-img {
    border: unset;
    z-index: 0;
    user-select: none;
    width: 90%;
    border-radius: 1rem;
    border: 2px solid #040109;
    background: linear-gradient(#040109);
    box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0);
    transition: border 0.5s, background 0.2s, transform 0.1s, box-shadow 0.2s; }
  .gallery .gallery-img:hover {
    z-index: 5;
    transform: scale(1.05);
    border: 2px solid #15052f;
    background: linear-gradient(#040109, #080213);
    box-shadow: 0px 0px 42px -11px rgba(100, 3, 101, 0.85);
    transition: border 0.5s, background 0.2s, transform 0.3s, box-shadow 0.5s; }

.gallery-large {
  column-count: 1; }

.zoom-in-prep {
  visibility: hidden;
  transform: scale(0.2);
  transition: transform 0.6s; }

.zoom-in-active {
  visibility: visible;
  z-index: 9;
  height: 90%;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  border-radius: 0.2rem;
  border: 2px solid transparent;
  transform: scale(1.1);
  transition: width 0.2s, transform 0.3s; }

.zoom-in-active-2 {
  visibility: visible;
  z-index: 9;
  width: 65%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  border-radius: 0.2rem;
  border: 2px solid transparent;
  transform: scale(1.1);
  transition: width 0.2s, transform 0.3s; }

.zoom-in-active-3 {
  visibility: visible;
  z-index: 9;
  width: 35%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  border-radius: 0.2rem;
  border: 2px solid transparent;
  transform: scale(1.1);
  transition: width 0.2s, transform 0.3s; }

.zoom-in-emoji {
  visibility: visible;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  transform: scale(1.1);
  transition: width 0.2s, transform 0.3s;
  border: 2px solid transparent; }
  .zoom-in-emoji img {
    width: 100%; }
  .zoom-in-emoji .big-emoji {
    margin: 2%;
    width: 40%;
    height: 0;
    padding-bottom: 40%; }
  .zoom-in-emoji .medium-emoji {
    margin: 2%;
    width: 20%;
    height: 0;
    padding-bottom: 20%; }
  .zoom-in-emoji .small-emoji {
    margin: 2%;
    width: 10%;
    height: 0;
    padding-bottom: 10%; }

.zoom-in-back {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  display: flex;
  z-index: 8;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: right; }

.hidden-zoom-in-back {
  visibility: hidden; }

.show-zoom-in-back {
  visibility: visible; }

.v-wrap {
  margin: auto;
  flex: 60%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.v {
  width: 60%; }

.discord-banner {
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  margin: auto;
  border-radius: 0.5rem;
  margin-bottom: 3%;
  margin-top: 3%; }
  .discord-banner .title {
    margin: 0;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: #5865f2; }
    .discord-banner .title img {
      width: 7rem;
      margin-top: 1%;
      margin-left: 2%; }

.discord-banner-content {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2%;
  background: #313338;
  background-image: url("");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  transition: background-image 0.2s; }
  .discord-banner-content p {
    margin: 0;
    text-align: justify;
    text-justify: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-radius: 0.3rem;
    padding-bottom: 2%;
    padding-top: 1%; }

.bgdiscdark {
  background: #1e1f22; }

.big {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 1.6rem; }

.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

.medium {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.big-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

h1 {
  font-size: 2rem;
  margin-bottom: 0; }

.bold-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.medium-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.selector {
  height: 1rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  width: fit-content;
  font-family: 'Open Sans', sans-serif;
  margin: 0%;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #219353;
  transition: background 0.2s, transform 0.2s; }

.selector:hover {
  cursor: pointer;
  background: #2dc770;
  transform: scale(1.01);
  transition: background 0.2s, transform 0.2s; }

.selector2 {
  height: 1rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  width: fit-content;
  font-family: 'Open Sans', sans-serif;
  margin: 0%;
  margin-left: 1%;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #bf3134;
  transition: background 0.2s, transform 0.2s; }

.selector2:hover {
  cursor: pointer;
  background: #e53a3e;
  transform: scale(1.01);
  transition: background 0.2s, transform 0.2s; }

.btnholder {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  margin-top: 2%;
  margin-bottom: 1%; }

.close-button {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 3rem;
  height: 3rem;
  right: 7%;
  top: 2%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffac22;
  background-color: #040109;
  border: 3px #ffac22 solid;
  border-radius: 5rem;
  transition: left 0.5s, transform 0.2s; }

.close-button:hover {
  transform: scale(1.1);
  transition: left 0.5s, transform 0.2s;
  cursor: pointer; }

.btn-link-mom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem; }

.btn-link {
  all: unset;
  cursor: pointer;
  text-align: center;
  width: 50%;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ca7200;
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 0.5rem solid #6f1f00;
  transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0);
  -moz-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0);
  box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0); }
  .btn-link b {
    font-size: 1.8rem; }

.btn-link:hover {
  background-color: #d16900;
  border-bottom: 0.4rem solid #6f1f00;
  margin-top: 0.1rem;
  transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0.35);
  -moz-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0.35);
  box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0.35); }

.btn-link:active {
  border-bottom: 0rem solid #6f1f00;
  margin-top: 0.5rem;
  transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0.55);
  -moz-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0.55);
  box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0.55); }

.btn-link-deactivated {
  all: unset;
  cursor: not-allowed;
  text-align: center;
  width: 50%;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #929292;
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 0.5rem solid #464646;
  transition: background-color 0.5s, box-shadow 0.5s, border-bottom 0.2s, margin-top 0.2s;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0);
  -moz-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0);
  box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0); }
  .btn-link-deactivated b {
    font-size: 1.8rem; }

.btn-link-deactivated:hover {
  cursor: not-allowed;
  background-color: #929292;
  border-bottom: 0.5rem solid #464646;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0);
  -moz-box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0);
  box-shadow: 0px 0px 18px -1px rgba(255, 172, 34, 0); }

.do-dont-mother {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content; }
  .do-dont-mother h1 {
    margin-top: 0;
    text-align: center;
    font-size: 1.6rem; }

.do-box {
  margin: 1%;
  width: 40%;
  height: fit-content;
  border: 2px #fc1196 solid;
  background: linear-gradient(#080213, #040109);
  border-radius: 0.5rem;
  transition: transform 0.2s; }
  .do-box li {
    margin-top: 0.2rem;
    font-weight: 500;
    align-items: center; }
  .do-box li::marker {
    color: #fc1196; }
  .do-box .big-roboto {
    margin-bottom: 0;
    padding: 0.2rem;
    background: #fc1196; }

.do-box:hover {
  transform: rotate(-1.01deg);
  transition: transform 0.2s; }

.dont-box {
  margin: 1%;
  width: 40%;
  height: fit-content;
  border: 2px #10bbff solid;
  background: linear-gradient(#080213, #040109);
  border-radius: 0.5rem;
  transition: transform 0.2s; }
  .dont-box li {
    margin-top: 0.2rem;
    font-weight: 500;
    align-items: center; }
  .dont-box li::marker {
    color: #10bbff; }
  .dont-box .big-roboto {
    margin-bottom: 0;
    padding: 0.2rem;
    background: #10bbff; }

.dont-box:hover {
  transform: rotate(-1.01deg);
  transition: transform 0.2s; }

.waitlist-mom {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 60%;
  height: fit-content;
  display: flex;
  border-radius: 0.5rem;
  border: 2px solid #fc1196; }
  .waitlist-mom .selector {
    background-color: #fc1196; }
  .waitlist-mom .selector:hover {
    background-color: #fc4eb0; }

.wt-logoholder {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc1196; }
  .wt-logoholder img {
    max-width: 60%; }

.wt-content-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column; }

.waitlist-title {
  height: 20%;
  padding: 10px;
  display: flex;
  align-items: center; }

.waitlist-content {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 10px; }
  .waitlist-content .btnholder {
    margin: 0;
    align-self: flex-end; }

table {
  width: 90%;
  border: 2px solid #15052f;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 20px;
  margin-top: 0.5rem;
  box-shadow: 0px 0px 42px -11px rgba(100, 3, 101, 0.25); }
  table th {
    border-bottom: 1px solid #fc1196;
    font-weight: 400; }

.table-smol {
  width: 70%; }

.pricing-esp {
  width: 90%;
  font-size: 20px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

.table-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.table-adon-holder {
  width: 90%;
  display: flex;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
  font-weight: 300; }

.optional {
  color: #ffac22; }

.optional-pink {
  color: #fc1196; }

.tos {
  overflow: none;
  z-index: 15;
  position: absolute;
  width: 60%;
  height: 100%;
  border: 3px #ffac22 solid;
  background-color: #040109;
  box-shadow: 0px 0px 5px 0px #f7900a;
  color: white; }
  .tos hr {
    border-bottom: 2px #ffac22 solid;
    width: 100%; }
  .tos li::marker {
    color: #ffac22;
    font-weight: 700; }
  .tos li {
    padding: 0.3rem; }
  .tos h1 {
    font-weight: 900; }
  .tos h2 {
    font-weight: 700; }

.last-p {
  margin-bottom: 4rem; }

.tos-hidden {
  display: none; }

.tos-title {
  width: fit-content;
  padding: 15px; }

.quote {
  padding-left: 10px;
  border-left: 2px solid #fc1196;
  margin-top: 3px; }

.firstfirst td {
  width: 17%; }
.firstfirst td + td {
  width: auto; }

.content-tos {
  display: flex;
  justify-content: center;
  height: 82%; }
  .content-tos p {
    font-size: 18px; }
  .content-tos b {
    font-weight: 800; }
  .content-tos table {
    width: 100%;
    font-size: 17px; }
    .content-tos table th {
      text-align: left; }
  .content-tos td {
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: top; }

.tos-wrapper {
  width: 96%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll; }

.tosbutton {
  position: absolute;
  margin: 0;
  bottom: 0; }

.nomargin {
  margin: 0; }

.onlymargintop {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 0; }

.vtubershow {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem; }

.vt-title {
  width: 96%;
  border-radius: 0.5rem;
  border: 2px solid #fc1196;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  cursor: pointer;
  padding: 10px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */ }
  .vt-title h1 {
    text-align: left;
    margin-right: auto; }
  .vt-title h1::before {
    content: '✦';
    margin-right: 10px; }

.tag {
  border-radius: 0.5rem;
  height: fit-content;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px; }

.wip {
  border: 2px solid #10bbff; }

.redebut {
  border: 2px solid #fc1196; }

.grad {
  border: 2px solid #ffac22; }

.pronoums {
  border: 2px solid #fc1196; }

.vtubershowon .vt-content {
  visibility: visible;
  height: 45rem;
  opacity: 1;
  margin-bottom: 0.8rem;
  transition: height 0.5s, visibility 0.1s, opacity 0.2s, margin-bottom 0.3s; }

.pink {
  border-color: #fc1196; }

.pinktxt {
  color: #fc1196; }

.vt-content {
  visibility: hidden;
  height: 0rem;
  opacity: 0;
  width: 95%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 2px solid #fc1196;
  border-left: 2px solid #fc1196;
  border-right: 2px solid #fc1196;
  margin-bottom: 0;
  overflow: hidden;
  align-items: center;
  transition: height 0.4s,  visibility 0.6s, opacity 0.5s, margin-bottom 0.4s; }

.vtwrapper {
  margin-top: 0.5rem;
  display: flex;
  padding: 0.5rem; }

.vtpfp {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .vtpfp img {
    width: 13rem;
    border-radius: 100%; }

.vtpcontent {
  width: 58%;
  margin-left: 1%;
  margin-right: 1%; }

.vtlinks {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .vtlinks .selector {
    width: 80%;
    margin: 2px; }
    .vtlinks .selector b {
      margin-left: 5px; }
  .vtlinks .selector:hover {
    transform: none; }

.twitch {
  background-color: #a970ff; }

.twitch:hover {
  background-color: #bc90ff; }

.twitter {
  background-color: #0c95cc; }

.twitter:hover {
  background-color: #0eb0f2; }

.youtube {
  background-color: #fc103e; }

.youtube:hover {
  background-color: #fc365d; }

.patreon {
  background-color: #fc7322; }

.patreon:hover {
  background-color: #fc853f; }

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 300; }

h2::before {
  content: '// ';
  color: #fc1196; }

li::marker {
  color: #fc1196; }

.justsam {
  border-color: #fd1047; }

.noteos {
  border-color: #10bbff; }

.cara {
  border-color: #ffac22; }

.val {
  border-color: #6a19ed; }

.tiamat {
  border-color: #00f21b; }

/*# sourceMappingURL=style.css.map */
