//Testing
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap');

/*PC*/

// Basics
*{
	font-family: 'Roboto', sans-serif;
	font-family: 'Source Code Pro', monospace;
	scroll-behavior: smooth;
	color: white;

}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #73003E;
}

/* Handle */
::-webkit-scrollbar-thumb {
border-radius: 5px;
  background: #FF008A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF6FBD;
}

//mixers

@mixin centerit{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

@mixin bred{
	border-color: $red;
	border-width: 2px;
	border-style: solid;

}

@mixin shadowred{
		-webkit-box-shadow: 0px 0px 15px 6px rgba(255,0,138,0.15); 
	box-shadow: 0px 0px 15px 6px rgba(255,0,138,0.15);
}

@mixin byellow{

	border-color: $yellow;
	border-width: 2px;
	border-style: solid;
}

@mixin shadowyellow{
-webkit-box-shadow: 0px 0px 15px 6px rgba(255,216,0,0.15); 
	box-shadow: 0px 0px 15px 6px rgba(255,216,0,0.15);
}

@mixin shadowhatebird{
-webkit-box-shadow: 0px 0px 15px 6px rgba(29,161,242,0.15); 
	box-shadow: 0px 0px 15px 6px rgba(29,161,242,0.15);
}

@mixin bbird{
	border-color: $hatebird;
	border-width: 2px;
	border-style: solid;
}

@mixin bpurple{
	border-color: $purple;
	border-width: 2px;
	border-style: solid;
}

@mixin shadowpurple{
-webkit-box-shadow: 0px 0px 15px 6px rgba(180,106,255,0.15); 
	box-shadow: 0px 0px 15px 6px rgba(180,106,255,0.15);	
}

//Colors
$main1: #070507;
$main2: #0B060B; 
$yellow: #FFD800;
$red: #FF008A;
$purple: #B46AFF;
$hatebird: #1DA1F2;

//build

html{
	background-color: $main1;
	@include centerit;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body{
	@include centerit;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

main{
	@include centerit;
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
}

.curve{
	z-index: -2;
	position: absolute;
	bottom: 0;
	left: 0;
}

//Opacity handlers

.op80{
	opacity: 0.8;
}

.op70{
	opacity: 0.7;
}


hr{
	border:none;
	width: 55%;
	height: 0.2px;
	background-color: $yellow;
}

//sidebar
.sidebar{
	width: 30%;
	height: 100%;
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: center;

	.btn:hover{
		transform: scale(1.2);
	}
}

.logo{
	width: 50%;
	@include centerit;

	img{
		width: 75%;
	}
}

.main{
	width: 90%;
	height: 60%;
	@include centerit;
}

//button fonts
.productbtn a{
	font-size: 90%;
}

//button handlers

.btn-smol{
	transition: 0.5s;
	display: flex;
	margin: 1%;
	width: 2rem;
	height: 2rem;

	border-radius: 3rem;

	text-align: left;
	align-items: center;
	background-color: $main2;
	@include bred;
	border-color: $main2;
}

.btn-smol:hover{
	transition: 0.5s;
	transform: scale(1.1);
	cursor:pointer;
	border-color: $red;
	@include shadowred;
}

.centerit{
	@include centerit;
}


.btn{

	transition: 0.5s;
	display: flex;
	margin: 1%;
	width: 90%;
	height: 3rem;

	border-radius: 3rem;

	text-align: left;
	align-items: center;
	@include bred;

	span{
		margin-right: 1rem;
		@include centerit;

		width: 4rem;
		border-radius: 0rem;
		height: 100%;
		border-left: none;
		border-top: none;
		border-bottom: none;

	}

	div{
		width: 90%;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.btn:hover{
	transition: 0.5s;
	cursor:pointer;

	@include shadowred;
}

.btnmom{
	transition: 0.3s;
	opacity: 1;
	position: absolute;
	width: 20%;
	height: 96%;
	padding: 1%;
	flex-direction: column;

	background-color: rgba(11,6,11,0.8);
}

.lbtncont{

	transition: 0.1s;
	opacity: 1;
	height: 20%;
	width: 100%;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	justify-content: center;


	.btn{

	transition: 0.5s;
	display: flex;
	margin: 2%;
	width: 3rem;
	height: 3rem;

	border-radius: 3rem;

	text-align: left;
	align-items: center;
	@include bred;
	@include centerit;

	span{
		transition: 1s;

		margin: 0;
		
		@include centerit;

		width: 30%;
		border-radius: 0rem;
		height: 100%;

	}

	div{
		transition: 0.5s;
		overflow: hidden;
		width: 0%;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.btn:hover{

	transition: 1s;
	width: 65%;
	transition: 0.5s;
	cursor:pointer;

	@include shadowred;
	@include centerit;

	div{
		transition: 1s;
		width: 70%;
		height: 100%;
		display: flex;
		align-items: center;
		text-align: center;
	}

	span{
		transition: 1s;
		width: 30%;
	}
}



}


.content {

	z-index: 10;

	position: absolute;
	width: 95%;
	height: 92%;
	border-radius: 1rem;

	background-color: $main2;
	@include bred;
	display: flex;

	display: none;
	overflow: hidden;
	background-attachment: fixed;
}

.productbtn{
	transition: 0.1s;
	opacity: 1;
	height: 75%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;


	.btn{

	transition: 0.5s;
	display: flex;
	margin: 2%;
	width: 50%;
	height: 3rem;

	border-radius: 3rem;

	text-align: left;
	align-items: center;
	@include byellow;
	@include centerit;

	span{
		transition: 1s;

		margin: 0;
		
		@include centerit;

		width: 30%;
		border-radius: 0rem;
		height: 100%;


	}

	div{
		transition: 0.5s;
		overflow: hidden;
		width: 0%;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.btn:hover{
	transition: 1s;
	width: 100%;
	transition: 0.5s;
	cursor:pointer;

	@include shadowyellow;

	div{
		transition: 1s;
		width: 70%;
		height: 100%;
		display: flex;
		align-items: center;
	}

	span{
		transition: 1s;
		width: 30%;
	}
}

}

//button cascade.

.btn-cascade{

	font-size: 1.1vw;

	transition: 0.3s;

	width: 96%;
	padding: 2%;
	height: 3rem;
	overflow: hidden;

	

	align-items: center;
	border-left: 1px solid $yellow;
	border-bottom: 3px solid rgba(11,6,11,0);
	border-top: 3px solid rgba(11,6,11,0);

	.cascade-title{
		font-size: 112%;
		height: 3rem;
		width: 100%;
		display: flex;
		align-content: center;
		align-items: center;

		span{
			margin: 2%;
		}

	}

	.btn-cascade-child{
		transition: 1s;
		@include centerit;
		display: none;

		.smol{
			cursor: pointer;
			display: flex;
			align-content: center;
			align-items: center;

			transition: 0.5s;
			width: 90%;
			height: 2rem;
			padding: 3%;
			border-left: 3px solid $main1;
		}

		.smol:hover{
			transition: 0.5s;
			border-left: 3px solid $red;
		}

	}

}

.btn-cascade:hover{

	transition: 0.3s;
	height: 50%;

	.cascade-title{

	}

	.btn-cascade-child{
		transition: 1s;
		display: flex;
	}
}

.list{
	height: 100%;
	width: 100%;
	overflow: hidden;

	@include centerit;

}

.pro{

	height: 90%;
	width: 90%;

	display: flex;
	flex-direction: column;

	overflow-y: scroll;

}

section{

	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	height: auto;

	@include centerit;

	.max{
		width: 100%
	}

	.half{
		width: 45%;
	}

	.twohalf{
		width: 75%;
	}

	.third{
		width: 25%;
	}

	.twothird{
		width: 60%;
	}

	.sd1{
		width: 35%;
	}

	.sd2{
		width: 55%;
	}

	.flex{
		display: flex;
	}

	.partition{
		margin: 1%;
		height: auto;

		.megatitle{
			border-bottom-color: $red;
		}
	}

}

.center{
	text-align: center;
}

h1 {


	font-size: 4vh;
	border-bottom-style: solid;
	border-bottom-color: $yellow;
	border-bottom-width: 1px;


}

h2 {


	font-size: 3.2vh;
	border-bottom-style: solid;
	border-bottom-color: $red;
	border-bottom-width: 1px;


}

mark{
	background-color:rgba(254, 4, 99, 0.4);
}

p{
	font-size: 0.95vw;
	text-align: justify;
}

.bullet{
	margin: 1%;
}

i{
	color: $red;
}

/*Table*/

table{
	width: 100%;
	font-size: 1vw;
	border-collapse: collapse;

	.divider{
		border-color: $yellow;
		border-style: solid;
		border-width: 1px;
	}

	td, th{
		padding: 1.5%;
		text-align: center;
	}

	.optional{
		color: $yellow;
	}

	td:first-child{
		text-align: left;
	}

	th:first-child{
		text-align: left;
	}
	
}


.clickable{
	transition: 0.5s;
	color: $yellow;
	border-bottom: 1px solid $main2;
}

.clickable:hover{
	transition: 0.5s;
	transform: scale(1.1);
	border-bottom: 1px solid $yellow;
}

.sideopen{
	transition: 0.5s;
	position: absolute;
	left: 100%;

	margin: 1%;
	width: 2rem;
	height: 2rem;

	border-radius: 3rem;

	text-align: left;
	align-items: center;
	background-color: $main2;
	@include bred;
	@include centerit;
}

.sideopen:hover{
	transition: 0.5s;
	transform: scale(1.2);
	@include shadowred;
	cursor: pointer;
}

/*Sidebar Classes*/
.sideshowbtn{
	left: 0%;
}

.sidehide{
	transition: 0.3s;

	.productbtn{
		transition: 0.1s;
		opacity: 0;
	}
	.lbtncont{
		transition: 0.1s;
		opacity: 0;
	}

	width: 0%;
}

.float {
	display: none;
  position: absolute;
  width: 20rem;
  height: 35rem;
  z-index: 25;
  cursor: move;
  background-color: $main2;
  @include bred;
  border-radius: 1rem;
  overflow: hidden;
}

.header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	text-align: center;
	position: absolute;
}

.pop{

	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;


}

.topcard{
	width: 100%;
	height: 30%;

	background-color: $red;

	img	{
		width: 100%;
	}
}

.popwrap{
	.discord{
		@include bpurple;
	}
	.discord:hover{
		@include shadowpurple;
	}


	.hatebird{
		@include bbird;
	}

	.hatebird:hover{
		@include shadowhatebird;
	}

	.btn{
		width: 80%;
	}
	.btn:hover{
		transform: scale(1.1);
		margin: 2%;
	}

	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tos{
	text-align: center;
	width: 90%;
	height: 5%;
	margin: 4%;
	position: absolute;
	bottom: 0;
	transition: 0.3s;
}

.tos:hover{
	transform: scale(1.2);
	color: $yellow;
	transition: 0.3s;
}

@media screen and (max-width: 1300px) {


	.main{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		.sidebar{
			height: 50%;
			width: 40%;
		}
	}

	section{
		
		flex-direction: column;
		.partition{
			width: 95%;
			margin: 2%;

		}
	}

	p{
		font-size: 1.7vw;
	}


	table{
		font-size: 1.6vw;
	}

	.btnmom{
		width: 50%;

		.cascade-title{
			font-size: 2.2vw;
		}

		a{
			font-size: 1.8vw;
		}
	}

	.sidehide{
		width: 0%;
	}

}

@media screen and (max-width: 500px) {


	section{
		
		flex-direction: column;
		.partition{
			width: 95%;
			margin: 2%;

		}
	}

	p{
		font-size: 3vw;
	}


	table{
		font-size: 2.9vw;
	}

	.btnmom{
		width: 70%;

		.cascade-title{
			font-size: 4.3vw;
		}

		a{
			font-size: 4vw;
		}
	}

	.sidehide{
		width: 0%;
	}

}